hr {
    border-top: 1px solid #000000 !important;
    margin-bottom:5px !important; 
    margin-top:5px !important;
 }
 h1, h2{
    text-align: center;
 }
.banner{
    height: 100px;
    max-width: 400px;
    margin: 10px auto 10px auto;
    border: 1px black solid;
    display: flex;

}
.center-me{
    font-size: 15px;
    text-align: center;
    margin: auto;
}